@page {margin: 1cm;}

@page :first{
	margin-top: 1cm;
}
@page :left{
	margin-left: 1cm;
	margin-right: 1cm;
}
@page :right{
	margin-left: 1cm;
	margin-right: 1cm;
}
@page {
  page-size: carta;
  size: landscape; 
}

@media print{


header{display: none;}
footer{display: none;}
button {display: none;}
nav{display: none;}
body{background: #fff; color:#000;}
.form_fechas{display: none;}
#modal{display: none;}

.container{
	margin: 0;
	font-size: 12pt;
	width: 100%;
	max-width: none;
	float: none;	
}

.container2 {
	display: block;	
	text-align: center;	
	width: 100%;
	float: button;
	margin-top:22%;
}

.container2 p{
	float: button;
	line-height: 0.3pt;	
	font-size: 9pt;
}

.container h2 , .container h3{
	text-align: center;
}

.logo{
	display: block;

}

.logo img{
	width: 10%;
	height: 10%;
	
}

.logo span{
	width: 20%;
		
}
.fechas{	
	float: right;
	line-height: 0.3cm;	
}
.seriales{
   float: left;
   line-height: 0.3cm;
}

.encabezado{	
	width: 100%;
}

.titulo_tabla{
	text-align: left;
}

.container hr{display: none;}


table{
	margin-left: 2pt;
	margin-top: 2pt;
	width: 100%;
}
tbody tr td p{
	text-align: center;	
}

th{
	border-top: 1px solid black;
}
th, td {
   border-bottom: 1px solid black;   
}


.totales {
    list-style: none;
    margin-top: 1.5em;
    display: inline-block;
    width: 35%;
    float: right;
}

.totales li {
    padding-top: 5pt;
}

.modos{	
	float: left;
	width: 100%;
	
}

#der {      
    width: 64%;
    text-align: left;
    display: inline-block;
}


#iz {   
    text-align: left;    
    display: inline-block;
}

ul .linea{
	display: block;
}

ul, img, table {
	page-break-inside: avoid;
}

}


